//
   Created by arobles on 31/12/14.
doctype html
html(lang="en", data-ng-app="AntisocialNetwork")
  head
    meta(charset="utf-8")
    title="Antisocial Network"
    link(href="./libs/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet", type="text/css")
    link(href="./libs/font-awesome/css/font-awesome.min.css", rel="stylesheet", type="text/css")
    link(href="./libs/bootstrap-social/bootstrap-social.css", rel="stylesheet", type="text/css")
    link(href='./tmp/style/main.css', rel="stylesheet", type="text/css")
    link(href='./libs/onepage-scroll/onepage-scroll.css', rel="stylesheet", type="text/css")
  body
    block content
    footer
    script(type="text/javascript", src="./libs/jquery/jquery.min.js")
    script(type="text/javascript", src="./libs/angular/angular.min.js")
    script(type="text/javascript", src="./libs/angular-route/angular-route.min.js")
    script(type="text/javascript", src="//connect.facebook.net/en_US/all.js")
    script(type="text/javascript", src="./js/app.js")
    script(type="text/javascript", src="./js/config.route.js")
    script(type="text/javascript", src="./js/services/facebookService.js")
    script(type="text/javascript", src="./js/controllers/facebookController.js")
    script(type="text/javascript", src="./js/config/facebookConfig.js")
    script(type="text/javascript", src="./js/controllers/loginController.js")
    script(type="text/javascript", src="./js/provider/facebookLogin.js")
    script(type="text/javascript", src="./libs/onepage-scroll/jquery.onepage-scroll.js")
    script(type="text/javascript", src="./js/scroll.js")
